app/assets/game/extra/

.settings/
.vscode/
bin/
conf/
logs/
null/
project/
public/
sbt-dist/
scripts/
target/
test/
.classpath
.project
build.sbt
LICENSE
NOTICE
sbt
sbt.bat

GenerateUnitPaths.class
GenerateUnitPaths.java